body {
  margin: 0;
}

main {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("./background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

canvas {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
}

video {
  position: absolute;
  z-index: -10;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

#output {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.intro {
  font-family: Helvetica;
  display: block;
  z-index: 100;
  text-align: center;
}

.intro h1 {
  font-size: 4em;
}
.intro p {
  font-size: 2em;
}
.intro button {
  padding: 0.5em 1em;
  font-size: 1em;
}
